<div class="example-container">
  <div class="container">
    <mat-toolbar color="primary" class="header">
      <span>Sign In</span>
    </mat-toolbar>
    <form [formGroup]="signinForm" (submit)="submit()" class="form-container">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required />
        <mat-error
          *ngIf="
            signinForm.controls.email.touched &&
            signinForm.controls.email.invalid
          "
        >
          <span *ngIf="signinForm.controls.email.errors.required"
            >*This field is mandatory.</span
          >
          <span *ngIf="signinForm.controls.email.errors.pattern"
            >This field is invalid.</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required />
        <mat-error
          *ngIf="
            signinForm.controls.password.touched &&
            signinForm.controls.password.invalid
          "
        >
          <span *ngIf="signinForm.controls.password.errors.required"
            >*This field is mandatory.</span
          >
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">
        Sign In
      </button>
    </form>
  </div>
</div>
