<main role="list" class="mat-elevation-z8">
  <div class="center">
    <mat-spinner
      diameter="50"
      [style.display]="loading ? 'block' : 'none'"
      style="color: red;"
    ></mat-spinner>
  </div>

  <table
    mat-table
    [style.display]="!loading ? 'inline-table' : 'none'"
    #table
    [dataSource]="dataSource"
    matSort
  >
    <!-- AccountId Column -->
    <!-- <ng-container matColumnDef="_id" hidden="true">
      <th mat-header-cell *matHeaderCellDef>
        Account Id
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element._id }}
      </td>
    </ng-container> -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.firstName }} {{ element.lastName }}
      </td>
    </ng-container>

    <!-- DOB Column -->
    <ng-container matColumnDef="dob">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of birth</th>
      <td mat-cell *matCellDef="let element">
        {{ element.dob | date: "dd-MMM-yyyy" }}
      </td>
    </ng-container>

    <!-- Gender Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Gender</th>
      <td mat-cell *matCellDef="let element">
        {{ element.gender }}
      </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let element">
        {{ element.email }}
      </td>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
      <td mat-cell *matCellDef="let element">
        {{ element.address }}
      </td>
    </ng-container>

    <!-- Blog Column -->
    <ng-container matColumnDef="blog">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Blog</th>
      <td mat-cell *matCellDef="let element">
        {{ element.blog }}
      </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td md-cell *matCellDef="let element">
        <mat-icon (click)="editSelection(element)">edit</mat-icon>
        <mat-icon
          (click)="
            deleteAccount({
              _id: element._id,
              firstName: element.firstName,
              lastName: element.lastName
            })
          "
          >delete</mat-icon
        >
      </td>
    </ng-container>

    <tr
      mat-header-row
      class="header-table"
      *matHeaderRowDef="[
        'name',
        'dob',
        'gender',
        'email',
        'address',
        'blog',
        'actions'
      ]"
    ></tr>
    <tr
      mat-row
      *matRowDef="
        let row;
        columns: [
          'name',
          'dob',
          'gender',
          'email',
          'address',
          'blog',
          'actions'
        ]
      "
    ></tr>
  </table>
  <mat-paginator
    #paginator
    [style.display]="loading ? 'none' : 'block'"
    [pageSize]="8"
  ></mat-paginator>
</main>
